<div class='form-row'>
    <div class="form-group col-xs-6 col-md-2">
        <a id="records_add" href="#" class="btn btn-success btn-icon-split" is_edit="0">
            <span class="icon text-white-50">
                <i class="fas fa-check"></i>
            </span>
            <span class="text" id="records_add_name">Adauga</span>
        </a>
    </div>
    <div class="form-group col-xs-6 col-md-2">
        <a id="records_cleanup" href="#" class="btn btn-danger btn-icon-split" confirm="1">
            <span class="icon text-white-50">
                <i class="fas fa-trash"></i>
            </span>
            <span class="text">Reset</span>
        </a>
    </div>
    <div class="form-group col-xs-6 col-md-2" style="display: none;">
        <a id="records_delete" href="#" class="btn btn-danger btn-icon-split" confirm="1">
            <span class="icon text-white-50">
                <i class="fas fa-trash"></i>
            </span>
            <span class="text">Sterge</span>
        </a>
    </div>
</div>