<!-- Button trigger modal 
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#recordsModal">
    Launch demo modal
  </button>
-->
  <!-- Modal -->
  <div class="modal fade" id="recordsModal" tabindex="-1" role="dialog" aria-labelledby="recordsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="recordsModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="recordsModal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="recordsModalBody">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="recordsModal">Inchide</button>
        </div>
      </div>
    </div>
  </div>

  <div id="confirmationModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 id="confirmationModalLabel" class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="confirmationModal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="confirmationModalBody" class="modal-body">
          <p>....</p>
        </div>
        <div class="modal-footer">
          <button id="confirmationModalButtonOK" type="button" class="btn btn-primary">OK</button>
          <button type="button" class="btn btn-secondary" data-dismiss="confirmationModal">Inchide</button>
        </div>
      </div>
    </div>
  </div>