<div class="card shadow mb-4">
    <div id="records_div_header" class="card-header py-3">
        <h6 id="records_div_title" class="m-0 font-weight-bold text-primary">Adauga publicatie</h6>
    </div>
    <div class="card-body" id="assets_management">
        <div id="records_overlay" class="overlay">
            <div class="overlay-content">
                Pregatim interfata <div style="display: inline-flex; margin-left: 15px;" class="dot-carousel"></div>
            </div>
        </div>
        <div id="records_checkdocid_row" class="form-row" style="display: none">
            <div class="form-group col-md-6">
              <label for="records_checkdocid">ID Document existent</label>
              <input type="text" class="form-control" id="records_checkdocid" title="ID Document existent">
            </div>
            <div class="form-group col-md-1">
              <label for="records_checkdocid_button">&nbsp;</label>
              <a href="#" class="btn btn-secondary btn-icon-split" id="records_checkdocid_button">
                <span class="icon text-white-50">
                  <i class="fas fa-arrow-right"></i>
                </span>
                <span class="text">Verifica</span>
              </a>
            </div>
          </div>
          <div id="records_checkdoctitle_row" class="form-row" style="display: none;">
            <div class="form-group col-md-6">
              <label for="records_checkdoctitle">Titlu document existent</label>
              <input type="text" class="form-control" id="records_checkdoctitle" title="ID Document existent">
            </div>
            <div class="form-group col-md-1">
              <label for="records_checkdoctitle_button">&nbsp;</label>
              <a href="#" class="btn btn-secondary btn-icon-split" id="records_checkdoctitle_button">
                <span class="icon text-white-50">
                  <i class="fas fa-arrow-right"></i>
                </span>
                <span class="text">Verifica</span>
              </a>
            </div>
          </div>
        {% include records/metadata-1.html %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="records_pubdoi">DOI:</label>
                <input type="text" class="form-control" id="records_pubdoi">
            </div>
            <div class="form-group col-md-6">
                <label for="records_pubtype">Tipul publicației:</label>
                <select id="records_pubtype"></select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="records_pubabs">Abstract</label>
                <input type="text" class="form-control" id="records_pubabs" title="Abstractul publicatiei">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="records_pubname">Denumire jurnal/volum</label>
                <input type="text" class="form-control" id="records_pubname" title="Denumirea jurnalului în care lucrarea este publicată">
            </div>
            <div class="form-group col-md-3">
                <label for="records_pubvolume">Volum</label>
                <input type="text" class="form-control" id="records_pubvolume" title="Volumul publicației">
            </div>
            <div class="form-group col-md-3">
                <label for="records_pubissue">Issue</label>
                <input type="text" class="form-control" id="records_pubissue" title="Issue">
            </div>
            <div class="form-group col-md-3">
                <label for="records_pubpages">Pagini</label>
                <input type="text" class="form-control" id="records_pubpages" title="Pagini (0-9)">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="records_pubissn">ISSN</label>
                <input type="text" class="form-control" id="records_pubissn">
            </div>
            <div class="form-group col-md-3">
                <label for="records_pubeissn">eISSN</label>
                <input type="text" class="form-control" id="records_pubeissn">
            </div>
            <div class="form-group col-md-3">
                <label for="records_pubisbn">ISBN</label>
                <input type="text" class="form-control" id="records_pubisbn">
            </div>
            <div class="form-group col-md-3">
                <label for="records_pubeisbn">eISBN</label>
                <input type="text" class="form-control" id="records_pubeisbn">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="records_woscat">Categorie WoS</label>
                <input type="text" class="form-control" id="records_woscat">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12" title="In cazul în care sistemul a detectat în mod eronat un autor ca fiind membru UVT, este recomandată adaugarea acestuia manual">
                <label for="records_pubauthors">Autori</label>
                <div class="authors-select overflow-auto">
                    <input type="text" id="records_pubauthors" class="form-control">
                </div>
            </div>
        </div>
        <hr />
        {% include records/controls.html %}
    </div>
</div>