<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 id="records_div_title" class="m-0 font-weight-bold text-primary">Adaugare proiect</h6>
    </div>
    <div class="card-body" id="assets_management">
        <div id="records_overlay" class="overlay">
            <div class="overlay-content">
                Pregatim interfata <div style="display: inline-flex; margin-left: 15px;" class="dot-carousel"></div>
            </div>
        </div>
        {% include records/metadata-1.html %}
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="records_projacronym">Acronym</label>
                <input type="text" class="form-control" id="records_projacronym" title="Acronim proiect">
            </div>
            <div class="form-group col-md-4">
                <label for="records_datepicker_end">Data sfarsit proiect</label>
                <input type="text" class="form-control" id="records_datepicker_end" title="Perioada de implementare">
            </div>
            <div class="form-group col-md-4">
                <label for="records_authority">Autoritate</label>
                <input type="text" class="form-control" id="records_authority" title="Autoritatea evaluatoare">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="records_projtype">Tipul Proiectului</label>
                <select id="records_projtype"></select>
            </div>
            <div class="form-group col-md-6">
                <label for="records_contractno">Numar contract</label>
                <input type="text" class="form-control" id="records_contractno" title="Numar contract">
            </div>
        </div>
        <div class="form-row" id="records_div_projmeta_1" style="display: none;">
            <div class="form-group col-md-6">
                <label for="records_projbudget">Buget</label>
                <input type="text" class="form-control" id="records_projbudget">
            </div>
            <div class="form-group col-md-6">
                <label for="records_projvi">Vi</label>
                <input type="text" class="form-control" id="records_projvi">
            </div>
        </div>
        {% include records/members-list.html %}
        <hr />
        {% include records/controls.html %}
    </div>
</div>