<div class="form-row">
    <div class="form-group col-md-6" title="In cazul în care sistemul a detectat în mod eronat un autor ca fiind membru UVT, este recomandată adaugarea acestuia manual">
        <label for="title" style="margin-right: 10px;">Membri</label><button id="records_member_add" type="button" class="btn btn-success btn-sm"><span class="fas fa-fw fa-plus-square"></span></button>
    </div>
</div>
<div id="records_members_list">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="records_member_name_1">Nume membru</label>
            <!-- <input type="text" class="form-control" id="records_member_name_1"></select> -->
            <input type="text" id="records_member_name_1" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label for="records_membership_1">Calitate</label>
            <select id="records_membership_1"></select>
        </div>
    </div>
</div>