<div class="form-row">
    <div class="form-group col-md-4">
        <label for="records_datepicker">Data</label>
        <div class="date-input">
            <input id="records_datepicker"/>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-4">
        <label for="records_title">Titlu</label>
        <input type="text" class="form-control" id="records_title" title="Titlul inregistrarii" value=''>
    </div>
    <div class="form-group col-md-8">
        <label for="records_keywords">Cuvinte cheie:</label>
        <input type="text" id="records_keywords" class="form-control">
    </div>
</div>