<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<meta name="description" content="URAP 2.0 - University Reporting Application">
	<meta name="author" content="SAGE Group @ IeAT">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<title>URAP 2.0</title>

	<link href="https://fonts.googleapis.com/css?family=Overpass:300,400,600,700&display=swap" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link rel='icon' type='image/png' href='assets/img/uvt.svg'>
	<link rel='stylesheet' href='assets/css/urap-template.min.css'>
	<link href="assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
	<!-- <link href="assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet"> -->
	<link href="assets/vendor/jquery-amsify-suggestags/amsify.suggestags.css" rel="stylesheet">
	<link href="assets/vendor/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
	<link rel='stylesheet' href='assets/css/three-dots.min.css'>
	<!-- <link href="assets/vendor/bootstrap-datepicker/bootstrap-datepicker3.min.css" rel="stylesheet"/> -->
	<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
	<link rel='stylesheet' href='assets/css/urap.css'>
	<script src='assets/js/security.js'></script>
</head>