<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/#">
    <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-graduation-cap"></i>
    </div>
    <div class="sidebar-brand-text mx-3">URAP <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
    <a class="nav-link" href="/ui/">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
    Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li id="nav_item_records" class="nav-item {{ page.navbar_li }}">
        <a href="#entries" class="nav-link {{ page.navbar_a }}" data-toggle="collapse" data-target="#recordsEntries" aria-expanded="false" aria-controls="recordsEntries">
            <i class="fas fa-fw fa-plus-square"></i>
            <span>Adaugare</span>
        </a>
        <div id="recordsEntries" class="collapse navbar-collapse {{ page.navbar_div }}" aria-labelledby="headingEntries" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Tipuri:</h6>
            <a class="collapse-item" href="add-records-publication.html">Publicatii</a>
            <a class="collapse-item" href="add-records-project.html">Proiecte</a>
            <!--
            <a class="collapse-item" href="records.html#addpatents">Patente</a>
            <a class="collapse-item" href="records.html#addothers">Altele</a>
            <a class="collapse-item" href="records.html#addbulk">Bulk</a>
            -->
            </div>
        </div>
    </li>
    <li id="nav_item_assets_list" class="nav-item">
        <a class="nav-link" href="publications.html">
            <i class="fas fa-fw fa-list-ul"></i>
            <span>Publicatii</span>
        </a>
    </li>
    <li id="nav_item_projects_list" class="nav-item">
        <a class="nav-link" href="projects.html">
            <i class="fas fa-fw fa-list-ul"></i>
            <span>Proiecte</span>
        </a>
    </li>
    <li id="nav_item_reports_list" class="nav-item">
        <a class="nav-link" href="reports.html">
            <i class="fas fa-fw fa-file-alt"></i>
            <span>Rapoarte</span>
        </a>
    </li>

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>