---
layout: urap
navbar_li: collapsed
navbar_div: 
script: 
  - records/members-list.js
  - records/metadata-1.js
  - records/footer-1.js
  - records-project.js 
---

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 id="records_div_header" class="h3 mb-0 text-gray-800">Inregistrari</h1>
</div>

{% include records/form-project.html %}
{% include records/footer-1.html %}