---
layout: urap
navbar_a: collapsed
---

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 id="records_div_header" class="h3 mb-0 text-gray-800">Home</h1>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 id="index_div_title" class="m-0 font-weight-bold text-primary">Introducere URAP 2.0</h6>
    </div>
    <div class="card-body" id="index_div_body">
        Folositi meniul pentru a accesa functionalitatile aplicatiei.
    </div>
</div>