---
layout: urap
---

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 id="page_heading" class="h3 mb-0 text-gray-800">Cautare dupa titlu</h1>
</div>

<!-- DataTales Assets List -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Proiecte</h6>
    </div>
    <div class="card-body">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="user_profile_email">Titlul publicatiei:</label>
                <input type="text" style="width: 100%;" class="typehead form-control" id="livesearch" value="">
            </div>
        </div>
    </div>
</div>