---
layout: login
---

<!-- Outer Row -->
<div class="row justify-content-center">

    <div class="col-xl-6 col-lg-6 col-md-3">

        <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
            <div class="col-lg-12">
                <div class="p-5">
                <div class="text-center">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fa fa-graduation-cap blue-color" style="font-size:90px;"></i>
                    </div>
                    <h1 class="h4 text-gray-900 mb-4">URAP 2.0</h1>
                </div>
                <form id="login_form" class="user" style="display: none;">
                    <div class="form-group" novalidate>
                    <input type="email" class="form-control form-control-user" id="login_email" aria-describedby="emailHelp" placeholder="@e-uvt.ro">
                    </div>
                    <div class="form-group">
                    <input type="password" class="form-control form-control-user" id="login_password" placeholder="Password">
                    </div>
                    <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="rememberMe">
                        <label class="custom-control-label" for="rememberMe">Remember Me</label>
                    </div>
                    </div>
                    <button id="login_button" type="button" class="btn btn-primary btn-user btn-block" disabled>
                    Login
                    </button> 
                </form>
                    <hr>
                    <a href="https://urap.sage.ieat.ro/login" class="btn btn-primary btn-user btn-block">
                    Login with eUVT
                    </a>
                </div>
            </div>
            </div>
        </div>
        </div>

    </div>

</div>
<!-- End of Outer Row -->