---
layout: urap
script:
  - records/metadata-1.js
  - records/footer-1.js
  - records-publication.js
---

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 id="page_heading" class="h3 mb-0 text-gray-800">Lista cu publicatii</h1>
</div>

<!-- DataTales Assets List -->
<div id='records_list_div' class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Publicatii</h6>
    </div>
    <div class="card-body">
        <div id="assets_list_overlay" class="overlay" style="visibility: hidden">
            <div class="overlay-content">
                Incarcam datele <div style="display: inline-flex; margin-left: 15px;" class="dot-carousel"></div>
            </div>
        </div>
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <table
                        class="table table-bordered dataTable stripe"
                        id="recordsListTable"
                        width="100%"
                        cellspacing="0"
                        role="grid"
                        aria-describedby="dataTable_info"
                        style="width: 100%;">

                        <thead>
                            <tr role="row">
                            <th
                                tabindex="0"
                                aria-controls="dataTable"
                                rowspan="1"
                                colspan="1"
                                aria-label="Name: activate to sort column descending"
                                style="width: 7%;">
                                ID
                            </th>
                            <th
                                tabindex="0"
                                aria-controls="dataTable"
                                rowspan="1"
                                colspan="1"
                                aria-label="Position: activate to sort column ascending"
                                style="width: 50%;">
                                Titlu
                            </th>
                            <th
                                tabindex="0"
                                aria-controls="dataTable"
                                rowspan="1"
                                colspan="1"
                                aria-label="Office: activate to sort column ascending"
                                style="width: 35%;">
                                Autori
                            </th>
                            <th
                                class="sorting_desc"
                                tabindex="0"
                                aria-controls="dataTable"
                                rowspan="1"
                                colspan="1"
                                area-sort="descending"
                                aria-label="Age: activate to sort column ascending"
                                style="width: 5%;">
                                An
                            </th>
                            <th
                                class="sorting_desc"
                                tabindex="0"
                                aria-controls="dataTable"
                                rowspan="1"
                                colspan="1"
                                area-sort="descending"
                                aria-label="Citari: activate to sort column ascending"
                                style="width: 5%;">
                                Citari
                            </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                            <th rowspan="1" colspan="1">ID</th>
                            <th rowspan="1" colspan="1">Titlu</th>
                            <th rowspan="1" colspan="1">Autori</th>
                            <th rowspan="1" colspan="1">An</th>
                            <th rowspan="1" colspan="1">Citări</th>
                            </tr>
                        </tfoot>
                        
                        <tbody>
                            <tr class="odd"><td valign="top" colspan="4" class="dataTables_empty">Incarcam datele <div style="display: inline-flex; margin-left: 15px;" class="dot-carousel"></div></td></tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- DataTales Assets List -->
<div id='citations_list_div' class="card shadow mb-4" style="display: none;">
    <div id='citations_list_card_header' class="card-header py-3 form-row">
        <div class='col-md-8'>
            <h6 class="m-0 font-weight-bold text-primary">Citari pentru: <span id='citations_list_header'></span></h6>
        </div>
        <div class='col-md-4 float-right'>
                <a id="citations_list_close" href="#" class="btn btn-danger btn-circle btn-sm float-right">
                <i class="fas fa-times"></i>
                </a>
                <a id="citations_list_add" href="#" class="btn btn-success btn-circle btn-sm float-right">
                    <i class="fas fa-plus"></i>
                </a>
        </div>
    </div>
    <div class="card-body">
        <div id="citations_list_overlay" class="overlay" style="visibility: hidden">
            <div class="overlay-content">
                Incarcam datele <div style="display: inline-flex; margin-left: 15px;" class="dot-carousel"></div>
            </div>
        </div>
        <div class="table-responsive">
            <div id="citations_dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <table
                        class="table table-bordered dataTable stripe"
                        id="citationsListTable"
                        width="100%"
                        cellspacing="0"
                        role="grid"
                        aria-describedby="dataTable_info"
                        style="width: 100%;">

                        <thead>
                            <tr role="row">
                            <th
                                tabindex="0"
                                aria-controls="dataTable"
                                rowspan="1"
                                colspan="1"
                                aria-label="Name: activate to sort column descending"
                                style="width: 5%;">
                                ID
                            </th>
                            <th
                                tabindex="0"
                                aria-controls="dataTable"
                                rowspan="1"
                                colspan="1"
                                aria-label="Position: activate to sort column ascending"
                                style="width: 60%;">
                                Titlu
                            </th>
                            <th
                                tabindex="0"
                                aria-controls="dataTable"
                                rowspan="1"
                                colspan="1"
                                aria-label="Office: activate to sort column ascending"
                                style="width: 25%;">
                                Autori
                            </th>
                            <th
                                class="sorting_desc"
                                tabindex="0"
                                aria-controls="dataTable"
                                rowspan="1"
                                colspan="1"
                                area-sort="descending"
                                aria-label="Age: activate to sort column ascending"
                                style="width: 5%;">
                                An
                            </th>
                            <th
                                class="sorting_desc"
                                tabindex="0"
                                aria-controls="dataTable"
                                rowspan="1"
                                colspan="1"
                                area-sort="descending"
                                aria-label="Citari: activate to sort column ascending"
                                style="width: 5%;">
                                OP
                            </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                            <th rowspan="1" colspan="1">ID</th>
                            <th rowspan="1" colspan="1">Titlu</th>
                            <th rowspan="1" colspan="1">Autori</th>
                            <th rowspan="1" colspan="1">An</th>
                            <th rowspan="1" colspan="1">OP</th>
                            </tr>
                        </tfoot>
                        
                        <tbody>
                            <tr class="odd"><td valign="top" colspan="4" class="dataTables_empty">Incarcam datele <div style="display: inline-flex; margin-left: 15px;" class="dot-carousel"></div></td></tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editRecordModal" tabindex="-1" role="dialog" aria-labelledby="editRecordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editRecordModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="editRecordModal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="editRecordModalBody">
            {% include records/form-publication.html %}
            {% include records/footer-1.html %}
        </div>
        <!--
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="editRecordModal">Close</button>
        </div>
        -->
      </div>
    </div>
</div>