---
layout: urap
navbar_li: collapsed
navbar_div: 
script: 
  - records/metadata-1.js
  - records-patent.js 
---

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 id="records_div_header" class="h3 mb-0 text-gray-800">Inregistrari</h1>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 id="records_div_title" class="m-0 font-weight-bold text-primary">Adaugare patent/brevet/inventie</h6>
    </div>
    <div class="card-body" id="assets_management">
        <div id="records_overlay" class="overlay">
            <div class="overlay-content">
                Pregatim interfata <div style="display: inline-flex; margin-left: 15px;" class="dot-carousel"></div>
            </div>
        </div>
        {% include records/metadata-1.html %}
        <div class="form-row">
            <div class="form-group col-md-12" id="records_div_authority">
                <label for="records_authority">Autoritate</label>
                <input type="text" class="form-control" id="records_authority" title="Autoritatea evaluatoare">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6" title="In cazul în care sistemul a detectat în mod eronat un autor ca fiind membru UVT, este recomandată adaugarea acestuia manual">
                <label for="title" style="margin-right: 10px;">Membri</label><button id="records_projmember_add" type="button" class="btn btn-success btn-sm"><span class="fas fa-fw fa-plus-square"></span></button>
            </div>
        </div>
        
    </div>
</div>