---
layout: urap
---

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 id="page_heading" class="h3 mb-0 text-gray-800">Rapoarte de cercetare si performanta academica</h1>
</div>

<!-- Cards list -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Raportari disponibile</h6>
    </div>
    <div class="card-body" id="reports_area">
            <div style="text-align: center; ">
                Incarcam datele <div style="display: inline-flex; margin-left: 15px;" class="dot-carousel"></div>
            </div>
    </div>
    <div id="report_generate_loader" class="overlay" style="visibility: hidden">
        <div class="overlay-content">
            <a> Generam raportul <div style="display: inline-flex; margin-left: 15px;" class="dot-carousel"></div></a>
        </div>
    </div>
</div>