---
layout: urap
---

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 id="page_heading" class="h3 mb-0 text-gray-800">Profil utilizator</h1>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"><span id="user_profile_header_name"></span></h6>
    </div>
    <div class="card-body">
        <div id="user_profile_overlay" class="overlay">
            <div class="overlay-content">
                Incarcam datele <div style="display: inline-flex; margin-left: 15px;" class="dot-carousel"></div>
            </div>
        </div>
        <form id="user_profile_form" class="userProfileForm">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="user_profile_lastname">Nume</label>
                    <input type="text" class="form-control" id="user_profile_lastname" value="" minlength="2" type="text" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="user_profile_fistname">Prenume</label>
                    <input type="text" class="form-control" id="user_profile_firstname" value="">
                </div>
                <div class="form-group col-md-4">
                    <label for="user_profile_email">Email</label>
                    <input type="text" class="form-control" id="user_profile_email" value="" disabled>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="user_profile_faculty">Facultate</label>
                    <input type="text" class="form-control" id="user_profile_faculty" disabled>
                </div>
                <div class="form-group col-md-4">
                    <label for="user_profile_department">Departament</label>
                    <select id="user_profile_department"></select>
                </div>
                <div class="form-group col-md-4">
                    <label for="user_profile_urapid">URAP ID</label>
                    <input type="text" class="form-control" id="user_profile_urapid" value="" disabled>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 tag-bg">
                    <label for="user_profile_wosid">WoS IDs</label>
                    <input type="text" id="user_profile_wosid" class="form-control">
                </div>
                <div class="form-group col-md-6 tag-bg">
                    <label for="user_profile_scopusid">Scopus IDs</label>
                    <input type="text" id="user_profile_scopusid" class="form-control">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 tag-bg">
                    <label for="user_profile_researcherid">Researcher IDs</label>
                    <input type="text" id="user_profile_researcherid" class="form-control">
                </div>
                <div class="form-group col-md-6 tag-bg">
                    <label for="user_profile_orcidid">ORCID IDs</label>
                    <input type="text" id="user_profile_orcidid" class="form-control">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="user_profile_cnatdcuds">CNATDCU DS</label>
                    <input type="text" class="form-control" id="user_profile_cnatdcuds">
                </div>
            </div>
            <button class="btn btn-primary" data-toggle="modal" data-target="#confirmationModal">Actualizeaza</button>
        </form>
    </div>
</div>