<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#">

      {% include head.html %}

    <body id='page-top' class='bg-gradient-primary'>

        <div class="container">

            {{ content }}

        </div>

        <script src="assets/vendor/jquery/jquery.min.js"></script>
        <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="assets/vendor/jquery-validation/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
        <script defer src='assets/js/urap-template.min.js'></script>
        <script defer src='assets/js/helpers.js'></script>
        <script defer src='assets/js/login.js'></script>
    </body>
</html>