<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#">
  {% include head.html %}
<body id='page-top' class='siderbar-toggled'>
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        {% include sidebar.html %}
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
             <!-- Main Content -->
             <div id="content">
                <!-- Topbar -->
                {% include topbar.html %}
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    {{ content }}
                </div>
                <!-- /.container-fluid -->
             </div>
             <!-- End of Main Content -->
             {% include footer.html %} 
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script defer src='assets/js/urap-template.min.js'></script>
    <script src="assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="assets/vendor/jquery-amsify-suggestags/jquery.amsify.suggestags.js"></script>
    <script src="assets/vendor/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="assets/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="assets/vendor/knockout/knockout-3.5.1.js"></script>
    <script src="assets/vendor/twitter-typehead/typeahead.bundle.js"></script>
    <!-- <script src="assets/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js" type="text/javascript"></script> -->
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.1.0/uuidv4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
    <script src='assets/js/helpers.js'></script>
    <script src='assets/js/assets.js'></script>
    <script src='assets/js/urap.js'></script>
    {% for s in page.script %}
        <script src='assets/js/{{ s }}'></script>
    {% endfor %}
    
    
</body>
</html>